body, html{

    height: auto;
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: #dfdfdf;

}

#titulo {

    font-family: 'montserrat';
    font-weight: 100;
    color: white;

}

.contenedorTitulo {

    display: flex;
    width: 500px;
    background-color:#004aad;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 100px;
    margin-right: 800px;

}

.gruposMusculares {

    display: flex;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 50px;
    left: 50%;
    top: 100%;
    font-family: 'montserrat';
    font-weight: 700;

}

#resultados {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #d4af37;
    width: 800px;
    border-radius: 50px;

}

.boton {

    margin: 10px 0;
    width: 500px;
    height: 30px;
    border-radius: 50px;
    background-color: #004aad;
    color: white;
    border: none;
    font-family: 'montserrat';
    font-weight: 100;

}

.boton.seleccionado {

    background-color: #00367e;
    transform: scale(1.07); 

}

button:hover {

    background-color: #005ad0;
    filter: blur(0.5px);
    transform: scale(1.05);
    cursor: pointer;

}

#datos {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200;
    width: 800px;
    background-color: #d4af37;
    margin: 50px 0;
    border-radius: 50px;
    padding: 30px;

}

input {

    text-align: center;
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 200px;
    margin: 10px 0;
    font-family: 'montserrat';
    font-weight: 700;

}

input:focus {

    outline: 2px solid  #004aad;

}

#formulario {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

}

#Continuar {

    margin: 30px 0;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-color: #004aad;
    color: white;
    font-family: 'montserrat';
    font-weight: 100;

}