body, html{

    height: auto;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;

}

.titulo {

    font-family: 'montserrat';
    font-weight: 100;
    background-color: #004aad;
    padding: 20px 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 50px;
    color: white;

}


form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #d4af37;
    border-radius: 50px;
    padding: 50px 100px;

}

input {

    padding: 5px;
    width: 500px;
    height: 20px;
    border-radius: 50px;
    margin: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    text-align: center;
    border: none;

}

input:focus {

    outline: 2px solid  #004aad;

}

button {

    width: 200px;
    height: 45px;
    border-radius: 50px;
    margin: 30px;
    background-color: #004aad;
    font-family: 'montserrat';
    font-weight: 700;
    color: white;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

button:hover {

    background-color: #005ad0;
    filter: blur(0.5px);
    transform: scale(1.05);
    cursor: pointer;

}
