body{

    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    font-family: "montserrat";


}

#contenedorTitulo {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004aad;
    color: white;
    width: 400px;
    height: 100px;
    border-radius: 50px;
    margin: 50px;

}

#contenedorTituloEjercicio {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004aad;
    color: white;
    width: max-content;
    height: 50px;
    border-radius: 50px;
    margin: 50px;
    padding: 10px 50px;
    align-self: center;

}

input {

    width: 300px;
    height: 20px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    text-align: center;

}

input:focus {

    outline: 2px solid  #004aad; 

}

.peso{

    width: 100px;
    text-align: center;

}

.reps {

    width: 100px;
    text-align: center;

}

#datos {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

#formulario {

    display: flex;
    flex-direction: column;
    background-color: #d4af37;
    width: min-content;
    padding: 100px 100px;
    align-self: center;
    border-radius: 50px;
    margin-bottom: 50px;

}

button {

    width: 150px;
    height: 50px;
    border-radius: 50px;
    align-self: center;
    background-color: #004aad;
    color: white;
    border: none;

}

button:hover {

    background-color: #005ad0;
    filter: blur(0.5px);
    transform: scale(1.05);
    cursor: pointer;

}

.serie {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#agregar {

    width: min-content;
    height: min-content;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#Continuar {

    margin-top: 50px;

}

p {

    color: #004aad;
    font-weight: 900;

}

.descanso {

    width: 100px;

}

#comentario {

    margin-top: 50px;
    height: 100px;

}