body, html {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center; 
}

/* Título azul */
.titulo {
    background-color: #004aad;
    color: white;
    font-family: 'montserrat';
    font-weight: 900;
    padding: 15px 40px;
    border-radius: 40px;
    text-align: center;
    margin-top: 40px;
}

/* Contenedor amarillo */
.contenedor-dias {
    background-color: #d4af37;
    width: 1000px;
    height: 450px;
    border-radius: 40px;
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 0;        
    column-gap: 120px;   
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

/* Botones */
.contenedor-dias button {
    background-color: #004aad;
    font-family: 'montserrat';
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1.3em;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 220px;

}

.contenedor-dias button:hover {
    background-color: #003680;
    transform: scale(1.05);
}